.skills{
    padding: 0 10%;
}

.HTML-i{
    color: #e34c26;
}

.HTML-bar{
    background-color: #e34c26;
}

.CSS-i{
    color: #264de4;
}

.CSS-bar{
    background-color: #264de4;
}

.BS-i{
    color: #59287a;
}

.BS-bar{
    background-color: #59287a;
}

.JS-i{
    color: #f0db4f;
}

.JS-bar{
    background-color: #f0db4f;
}

.RCT-i{
    color: #61dafb;
}

.RCT-bar{
    background-color: #61dafb;
}

.NJ-i{
    color: #68a063;
}

.NJ-bar{
    background-color: #68a063;
}